<div class="form-wrapper">
  <h1>Editar volume</h1>
  <form class="editar-volume" onsubmit="reset()" *ngIf="volume!= null">
    <input type="hidden" id="idVolume" [(ngModel)]="volume.idVolume" name="idVolume" value={{volume.idVolume}} required />

    <label for="volumeSigla">Sigla do evento:</label>
    <input type="text" id="volumeSigla" [(ngModel)]="volume.siglaEvento" name="siglaEvento" placeholder="Sigla do evento" class="input-padrao" value={{volume.siglaEvento}} required />

    <label for=" dataInicio">Data de início:</label>
    <input type="date" id="dataInicio" [(ngModel)]="volume.dataInicio" name="dataInicio" class="input-padrao" value={{volume.dataInicio}} required />

    <label for="numeroEdicao">Edição do evento</label>
    <input type="number" id="numeroEdicao" [(ngModel)]="volume.numeroEdicao" name="numeroEdicao" class="input-padrao" value={{volume.numeroEdicao}} required />

    <label for="descricaoPt">Descrição</label>
    <input type="text" id="descricaoPt"
    [(ngModel)]="volume.descricaoPt" placeholder="Descrição do evento em Português" name="descricaoPt" class="input-padrao" value={{volume.descricaoPt}} required/>


    <label for="descricaoEn">Descrição Inglês:</label>
    <input type="text" id="descricaoEn " [(ngModel)]="volume.descricaoEn" placeholder="Descrição do evento em Inglês" value={{volume.descricaoEn}}
      name="descricao" class="input-padrao" required />

    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" [(ngModel)]="volume.cidade" placeholder="Cidade onde ocorrerá essa edição do evento"
      name="cidade" class="input-padrao" value={{volume.cidade}} required />
  </form>
  <button type="submit" *ngIf="volume != null" mat-flat-button color="primary" class="enviar" (click)="atualizarVolume(volume)" [routerLink]="['']">Editar</button>
</div>
